<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>unproductive</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>
<body>
    <h1>are we being productive rn?</h1>
    <button onclick="openCamera()">Click to lock-in</button>
    <div id = "camera" style = "display:none;">
        <img src="/video_feed" width="640" height="480" />
    </div>
    <script>
        function openCamera() {
            var x = document.getElementById("camera");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</body>
</html>
