<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>unproductive</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>
<body>
    <h1>are we being productive rn?</h1>
    <button onclick="openCamera()">Click to lock-in</button>
    <button onclick="closeCamera()">Click to rot</button>
    <img id = "camera" width="640" height="480" />
    <script>
        const FLASK_URL = "http://sdfsdf.render.com";
        
        function openCamera() {
            const cam = document.getElementById("camera");
            cam.src = '${FLASK_URL}/video_feed?t=$(Date.now())';
        }

        function closeCamera() {
            const cam = document.getElementById("camera");
            cam.src = '';
        }

    </script>
</body>
</html>
