<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>unproductive</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>
<body>
    <h1>are we being productive rn?</h1>
    <button onclick="goToCamera()">Click to lock-in</button>
    <script>
        // Function that will be called on click 
        // event of "Go to settings window" button
        function goToCamera(){
            // ipcRenderer is exposed by preload.js
            window.ipcRenderer.send('openChildWindow');  
        }
    </script>
</body>
</html>
